# systemd で使うとき
[Unit]
Description=Gmail send command

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm \
            -e GMAIL=$GMAIL \
            -e TO=$TO \
            -e SENDER=$SENDER \
            -e GMAIL_PASSWORD=$GMAIL_PASSWORD \
            -e SUBJECT="<タイトル>" \
            -e BODY="<内容>" \
              stateya/gmail-send
EnvironmentFile=/etc/gmail-send.env

[Install]
WantedBy=multi-user.target
